<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{partials/post_partials :: head (title='This one post')}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <th:block th:include="~{partials/post_partials :: navbar}"></th:block>
    <th:block th:include="~{partials/post_partials :: header}"></th:block>

    <div class="post-container" th:if="${post != null}">
        <h2 th:text="${post.title}"></h2>
        <h5 th:if="${post.user} != null" th:text="${post.user.email}"></h5>
        <!-- Email can also be displayed by the following line:
        <p th:if="${post.user} != null">Created by: [[${post.user.email}]]</p> -->
        <p th:text="${post.body}"></p>
    </div>

<!--    <h2 th:if="${post == null}">Create a post!</h2>-->
<!--    <form th:if="${post == null}" action="/posts/create" method="post">-->
<!--        <label for="title">Title:</label>-->
<!--        <input type="text" name="title" id="title"><br>-->
<!--        <label for="body">Body:</label>-->
<!--        <textarea name="body" id="body"></textarea>-->
<!--        <button>Submit</button>-->
<!--    </form>-->

    <th:block th:replace="~{partials/post_partials :: footer}"></th:block>
</body>
</html>